/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

/*  MOBILE FIRST */

:root {
    --main-color: #F7E1D2;
    --main-green: #373D20;
    --light-green: #717744;
    --main-brown: #766153;
    --main-red: #A41623;
}

img {
    width: 100%;
}


body,html {
    background-color: var(--main-color);
    display: block;
    margin: 0px;
    padding: 0px;
    font-family: 'Jost';
    overflow-x: hidden;
    height: 100vh;
    font-size: 1rem;
    
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
    border-bottom: 1px solid var(--main-green);
}

.header img {
    width: 200px;
}

.header .nav ul {
    display: flex;
    list-style: none;
    text-align: center;
    padding: 1rem;
}

.header .nav ul li a {
    color: var(--light-green);
    font-size: 1.2rem;
    text-decoration: none;

}

.header li + li {
    margin-left: 2rem;
}

.header .nav ul li a:hover {
    background-color: var(--light-green);
    color: var(--main-color);
    padding: 5px;
    border-radius: 2rem;
}

main {
    margin: 5rem auto;
    width: 80vw;
    text-align: justify;
    padding: 1.5rem;
}

h1, h2 {
    color: var(--light-green);
    text-align: center;
    font-size: 2.8rem;
    font-family: 'Italiana';
    margin-bottom: 5rem;
}

h1 + p,
h2 + p,
.Sobre p {
    color: #303030;
    font-size: 1.2rem;
}

.index {
    position: relative;
}

 .index::before {
    content: '';
    position: absolute;
    top: -4rem;
    bottom: 0;
    left: -7rem;
    width: 50%;
    height: 100%;
    background-image: url(img/folhatropical.png);
    background-repeat: no-repeat;
    background-size: contain;
}

 .index::after {
    content: '';
    position: absolute;
    top: 30rem;
    bottom: 0rem;
    right: -6rem;
    width: 50%;
    height: 100%;
    background-image: url(img/folha.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    overflow: hidden;
} 

.index,
.Sobre,
.Procedimentos {
    margin-bottom: 18rem;
}


.Sobre {
    margin-top: 10rem;
    position: relative;
}

.Sobre::before {
    content: '';
    position: absolute;
    top: -3rem;
    bottom: 0rem;
    left: -6rem;
    width: 50%;
    height: 100%;
    background-image: url(img/folha1.png);
    background-repeat: no-repeat;
    background-size: contain;
    overflow-y: hidden;
}

.Procedimentos {
    height: max-content;
    margin-top: 10rem;
    position: relative;
    
}

.Procedimentos::before {
    content: '';
    position: absolute;
    top: -7rem;
    bottom: 0rem;
    right: -2rem;
    width: 50%;
    background-image: url(img/folha2.png);
    background-repeat: no-repeat;
    background-size: 200%;
}

.Procedimentos::after {
    content: '';
    position: absolute;
    top: 9rem;
    bottom: 0rem;
    right: -2rem;
    width: 50%;
    background-image: url(img/Vector.png);
    background-repeat: no-repeat;
    background-size: 200%;
    z-index: 0;
}


.div-card  {
    display: grid;
    grid-template-columns: 1fr; /* Mostra os cards em uma única coluna */
    gap: 2rem;
    position: relative;
    z-index: 1;
}

.card {
    margin: 0 auto;
    padding: 30px;
    max-width: 80vw;
    border-radius: 5px;
    border-color: #373D20;
    box-shadow: 1px 1px 0px 1px rgba(75, 75, 75, 0.493);
    background-color: var(--main-brown);
    overflow: hidden;
    
}

.card h3 {
    font-size: 2rem;
    color: var(--main-color);
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.card p {
    font-size: 1.4rem;
    color: var(--main-color);
    text-align: left;
}

.card a.seta {
    display: inline-flex;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--main-green);
    color: var(--main-color);
    font-size: 1.2rem;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

.card a.seta:hover {
    background-color: var(--light-green);
}

.card a svg {
    width: 1rem;
    height: 1rem;
    margin-left: 10px;
}

.footer {
    margin-top: 10rem;
    position: relative;
    height: 40vh;
}

.footer h2 {
    margin-bottom: 2rem;
}

.footer p {
    text-align: center;
}

.footer::before {
    content: '';
    position: absolute;
    top: 9rem;
    left: -3rem;
    width: 100%;
    height: 100%;
    background-image: url(img/Group\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    
 }

 .footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--light-green);    
 }

 .footer a:hover {
    color: #303030;
 }



@media (min-width: 480px) and (max-width: 768px) {
    .Sobre h2,
    .Procedimentos h2 {
        margin-top: 5rem;
    }

    .header .nav ul li a {
    font-size: 1.4rem;
    }

    h1 + p,
    h2 + p,
    .Sobre p {
        font-size: 1.4rem;
    }

    .index::before {
    content: '';
    position: absolute;
    top: -3rem;
    bottom: 0;
    left: -8rem;
    width: 50%; 
    background-image: url(img/folhatropical.png);
    background-repeat: no-repeat;
    background-size: contain;
    }

    .index::after {
    content: '';
    position: absolute;
    top: 30rem;
    right: -8rem;
    width: 50%;
    background-image: url(img/folha.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    overflow: hidden;
    } 

    .Sobre::before {
    top: -10rem;
    bottom: 0rem;
    left: -5rem;
    }

    .Procedimentos::before {
    content: '';
    position: absolute;
    top: -4rem;
    bottom: 0rem;
    right: -6rem;
    width: 50%;
    height: 100%;
    background-image: url(img/folha2.png);
    background-repeat: no-repeat;
    background-size: 150%;
    }

    .Procedimentos::after {
    content: '';
    position: absolute;
    top: 9rem;
    bottom: 0rem;
    right: -10rem;
    width: 50%;
    height: 100%;
    background-image: url(img/Vector.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
    }

    .div-card  {
        grid-template-columns: auto /* Mostra os cards em uma única coluna */
    }

    .card img {
        width: 80%;
        display: block;
        margin: 0 auto;
        padding: 0;
    }

    .card {
        width: 50vw;
        padding: 0 1.5rem 1.5rem 1.5rem;
        height: auto;
    }

    .card p {
        font-size: 1.2rem;
    }

    .card h3 {
        font-size: 1.4rem;
    }

    .card a.seta {
        font-size: 1rem;
        padding: 0.8rem;
    }

    .footer::before {
    content: '';
    position: absolute;
    top: 8rem;
    left: -11rem;
    width: 100%;
    height: 100%;
    background-image: url(img/Group\ 4.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center bottom;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .header {
        flex-direction: row;
    }

    .header img {
        width: 100px;
    }

    h1, h2 {
        font-size: 3rem;
    }

    h1 + p,
    h2 + p,
    .Sobre p {
        font-size: 1.2rem;
    }

    .index::before {
    content: '';
    position: absolute;
    top: -3rem;
    left: -10rem;
    width: 50%; 
    background-image: url(img/folhatropical.png);
    background-repeat: no-repeat;
    background-size: contain;
    }

    .index::after {
    content: '';
    position: absolute;
    top: 15rem;
    right: -10rem;
    width: 50%;
    height: 100%;
    background-image: url(img/folha.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    overflow: hidden;
    } 

    .Sobre::before {
    content: '';
    position: absolute;
    top: -4rem;
    left: -15rem;
    width: 50%;
    height: 100%;
    background-image: url(img/folha1.png);
    background-repeat: no-repeat;
    background-size: contain;
    overflow-y: hidden;
    }

   .Sobre div.container-sobre-img {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .Sobre img{
        display: block;
        width: 45%;
        margin: 0 auto;
    }

    .Procedimentos::before {
    content: '';
    position: absolute;
    top: -2rem;
    bottom: 0rem;
    right: -15rem;
    width: 50%;
    height: 100%;
    background-image: url(img/folha2.png);
    background-repeat: no-repeat;
    background-size: contain;
    }

    .Procedimentos::after {
    content: '';
    position: absolute;
    top: 16rem;
    bottom: 0rem;
    right: -18rem;
    width: 50%;
    height: 100%;
    background-image: url(img/Vector.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
    }

    .div-card {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-content: center;
        gap: 1rem;
    
    }

    .card {
        max-width: 200px; /* Define uma largura máxima para os cartões */
        height: auto;
        padding: 0 1rem 1rem 1rem;
    }

    .card img {
        max-width: 80%;
        display: block;
        margin: 0 auto;
        padding: 0;
        
    }

    .card p {
        font-size: 0.9rem;
    }

    .card h3 {
        font-size: 1rem;
    }

    .card a.seta {
        font-size: 0.7rem;
        padding: 0.5rem;
        border-radius: 5px;
    }

    .footer::before {
    content: '';
    position: absolute;
    top: 9rem;
    left: -6rem;
    width: 100%;
    height: 100%;
    background-image: url(img/Group\ 4.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center left;
    }
}

@media (min-width:1025px) {
    .header {
        display: flex;
        flex-direction: row;
        padding: 0 1rem;
    }

    .header .nav ul li a {
        font-size: 1rem;
    }

    .header img {
        width: 100px;
    }

    h1, h2 {
        font-size: 2.5rem;
    }

    h1 + p,
    h2 + p,
    .Sobre p {
        font-size: 1rem;
        
    }

    .index::before {
    content: '';
    position: absolute;
    top: -3rem;
    left: -12rem;
    width: 50%; 
    background-image: url(img/folhatropical.png);
    background-repeat: no-repeat;
    background-size: contain;
    }

    .index::after {
    content: '';
    position: absolute;
    top: 20rem;
    right: -12rem;
    width: 50%;
    height: 100%;
    background-image: url(img/folha.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    overflow: hidden;
    } 

    .Sobre::before {
    content: '';
    position: absolute;
    top: -8rem;
    left: -25rem;
    width: 50%;
    height: 100%;
    background-image: url(img/folha1.png);
    background-repeat: no-repeat;
    background-size: contain;
    overflow-y: hidden;
    }

    .Sobre div.container-sobre-img {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .Sobre img{
        display: block;
        width: 45%;
        margin: 0 auto;
    }

    .Procedimentos::before {
    content: '';
    position: absolute;
    top: -8rem;
    right: -20rem;
    width: 50%;
    height: 100%;
    background-image: url(img/folha2.png);
    background-repeat: no-repeat;
    background-size: contain;
    }

    .Procedimentos::after {
    content: '';
    position: absolute;
    top: 8rem;
    bottom: 0rem;
    right: -25rem;
    width: 50%;
    height: 100%;
    background-image: url(img/Vector.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
    }

    .div-card {
         
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajuste as colunas para se encaixarem automaticamente */
        gap: 1rem;
    
    }

    .card {
        max-width: 200px; /* Define uma largura máxima para os cartões */
        height: auto;
        padding: 0 1rem 1rem 1rem;
    }

    .card img {
        max-width: 80%;
        display: block;
        margin: 0 auto;
        padding: 0;
        
    }

    .card p {
        font-size: 0.8rem;
    }

    .card h3 {
        font-size: 1rem;
    }

    .card a.seta {
        font-size: 0.6rem;
        padding: 0.5rem;
        border-radius: 5px;
    }

    .footer::before {
    content: '';
    position: absolute;
    top: 13rem;
    left: -7rem;
    width: 50%;
    height: 100%;
    background-image: url(img/Group\ 4.png);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center left;
    }

    .footer svg{
        height: 50px;
    }
}